<section class="contact-content sec-padding">
    <div class="container">
        <div class="sec-title text-center">
            <p>If you are interested in contacting us, please fill out the form below.</p>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                <div class="col-md-4">
                    <h2>Address</h2>
                    <ul class="contact-info">
                        <li>
                            <div class="icon-box">
                                <div class="inner">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                            </div>
                            <div class="content-box">
                                <h4>Address</h4>
                                <p>165 Avoneil Road ,
                                    <br>Belfast, BT5 4SG</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box">
                                <div class="inner">
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div>
                            <div class="content-box">
                                <h4>Phone</h4>
                                <p>(+44) 07707 285 085</p>
                            </div>
                        </li>
                        <li>
                            <div class="icon-box">
                                <div class="inner">
                                    <i class="fa fa-envelope-o"></i>
                                </div>
                            </div>
                            <div class="content-box">
                                <h4>Email</h4>
                                <p>contact@belfastcares.co.uk</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-8">
                    <h2>Contact Form</h2>
                    <form action="/contact/" method="post" class="contact-form row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label for="id_name">Name:</label>
                                <input id="id_name" maxlength="300" name="name" type="text"
                                       style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAvElEQVQ4T2NkoBAwIukXALL9gViBgJkPgPIbgfgDSB2yAQVAfj+RDioEqpuAbkADUKAeiB0JGLIfKN8IxCD1KC6AGYDsqgtANf+B2BDJUBCfaAM2QDUGkGMAcpjA/Qx1EVEugHkJZDlcA7EGgKJSHi0wHwL5D4g1wAGoEISRwQEgB4SJCkSQZns0Aw6SYgDICyCMDEDOJ8oL6E5HMwfsDayxQHFSBmUmUIJBdzq6C0DeWAATRE626AqJ4gMAKh82EQu8MAEAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                            </div>
                            <div class="col-md-6">
                                <label for="id_email">Email:</label>
                                <input id="id_email" maxlength="50" name="email" type="email">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-12">
                                <label for="id_message">Message:</label>
                                <textarea cols="40" id="id_message" name="message" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="thm-btn" type="submit">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>