<p>This is the partial for view 1.</p>

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="logo">
                    <a href="index1.html">
                        <img src="images/resources/logo.png" alt="Awesome Image" />
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="header-right-info pull-right sm-pull-none clearfix">
                    <div class="single-header-info pb-sm-20">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-interface-2"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>EMAIL</h3>
                            <p>contact@belfastcares.com</p>
                        </div>
                    </div>
                    <div class="single-header-info">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-telephone"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Call Now</h3>
                            <p><b>(732) 803-010-03</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- /.header -->

<nav class="mainmenu-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-3 col-md-12">
                <div class="donate-btn clearfix">
                    <!-- Modal: donate now Starts -->
                    <a class="thm-btn pull-left" data-toggle="modal" href="#modal-donate-now">Donate Now</a>

                    <div class="nav-footer pull-right">
                        <button><i class="fa fa-bars"></i></button>
                    </div>
                    <div class="modal fade" id="modal-donate-now" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog style-one" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Make a Donation</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="donation-form-outer">
                                        <form action="contact.html" method="post">
                                            <!--Form Portlet-->
                                            <div class="form-portlet">
                                                <h3>Donation Amount</h3>
                                                <div class="row clearfix">
                                                    <div class="form-group col-xs-12 clearfix">
                                                        <div class="radio-select">
                                                            <input type="radio" id="amount-1" name="sel-amount">
                                                            <label for="amount-1">$10</label>
                                                        </div>
                                                        <div class="radio-select">
                                                            <input type="radio" checked="" id="amount-2" name="sel-amount">
                                                            <label for="amount-2">$25</label>
                                                        </div>
                                                        <div class="radio-select">
                                                            <input type="radio" id="amount-3" name="sel-amount">
                                                            <label for="amount-3">$50</label>
                                                        </div>
                                                        <div class="radio-select">
                                                            <input type="radio" id="amount-4" name="sel-amount">
                                                            <label for="amount-4">$100</label>
                                                        </div>
                                                        <div class="radio-select">
                                                            <input type="radio" id="amount-5" name="sel-amount">
                                                            <label for="amount-5">$150</label>
                                                        </div>
                                                        <div class="radio-select">
                                                            <input type="radio" id="amount-6" name="sel-amount">
                                                            <label for="amount-6">$200</label>
                                                        </div>
                                                        <div class="radio-select">
                                                            OR
                                                        </div>
                                                    </div>
                                                    <div class="form-group  col-xs-12 padd-top-20">
                                                        <input type="text" placeholder="Other Amount" value="" name="other-amount">
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <!--Form Portlet-->
                                            <div class="form-portlet">
                                                <h3>Billing Information</h3>
                                                <div class="row clearfix">
                                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                        <div class="field-label">Card Number <span class="required">*</span></div>
                                                        <input type="text" required="" placeholder="Card Number" value="" name="name">
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                        <div class="field-label">Security Code (CVC) <span class="required">*</span></div>
                                                        <input type="text" required="" placeholder="Security Code" value="" name="name">
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                        <div class="field-label">Name <span class="required">*</span></div>
                                                        <input type="text" required="" placeholder="First Name" value="" name="name">
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                        <div class="field-label">Email <span class="required">*</span></div>
                                                        <input type="email" required="" placeholder="Email" value="" name="name">
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                        <div class="field-label">Phone <span class="required">*</span></div>
                                                        <input type="text" required="" placeholder="Phone" value="" name="name">
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                        <div class="field-label">Address <span class="required">*</span></div>
                                                        <input type="text" required="" placeholder="Address 1" value="" name="name">
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                        <div class="field-label">City <span class="required">*</span></div>
                                                        <select>
                                                            <option>City</option>
                                                            <option>City Name</option>
                                                            <option>City Other</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                                        <div class="field-label">Zip / Postal Code <span class="required">*</span></div>
                                                        <input type="text" required="" placeholder="Zip Code" value="" name="name">
                                                    </div>
                                                    <hr>
                                                    <div class="text-center">
                                                        <button class="thm-btn mt-30 mb-30" type="submit">Donate Now</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <hr>
                                            <!--Form Portlet-->
                                            <div class="form-portlet">
                                                <h3>Online Payment Information</h3>
                                                <div class="payment-option-logo"><img alt="" src="images/resources/payment-logos.png" class="img-responsive"></div>
                                                <br>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal: donate now Ends -->
                </div>
            </div>
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="navigation">
                    <div class="nav-header">
                        <ul>
                            <li class="dropdown">
                                <a href="#">Home</a>
                            </li>
                            <li><a href="about.html">About</a></li>
                            <li class="dropdown">
                                <a href="#">Charities</a>
                                <ul class="submenu">
                                    <li><a href="causes-list.html">Charities List</a></li>
                                    <li><a href="causes-single.html">Single Charity</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Volunteer</a>
                                <ul class="submenu">
                                    <li><a href="volunteer-style-one.html">Volunteer Style One</a></li>
                                    <li><a href="volunteer-style-two.html">Volunteer Style Two</a></li>
                                    <li><a href="volunteer-profile.html">Volunteer Profile</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#">Contact</a>
                                <ul class="submenu right-align">
                                    <li><a href="contact1.html">Conatact Style One</a></li>
                                    <li><a href="contact2.html">Conatact Style Two</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<!-- /.mainmenu-area -->

<!--Rev Slider Wrapper Column-->
<section class="rev_slider_wrapper bannercontainer">
    <div id="slider1" class="rev_slider"  data-version="5.0">
        <ul>

            <!-- SLIDE 1 -->
            <li data-index="rs-1" data-transition="fade" data-slotamount="2"  data-easein="default" data-easeout="default" data-masterspeed="3000"  data-thumb="images/bg/home_hero_1.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <!-- MAIN IMAGE -->
                <img src="images/bg/home_hero_1.jpg"  alt=""  data-bgposition="50% 90%" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-uppercase"
                     id="rs-1-layer-1"

                     data-x="['left','left','left','left']"
                     data-hoffset="['370','200','30','17']"
                     data-y="['center','center','center','center']"
                     data-voffset="['10','110','180','160']"
                     data-fontsize="['78']"
                     data-lineheight="['60']"
                     data-width="['none','none','none','400']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="500"
                     data-splitin="none"
                     data-splitout="none"
                     data-basealign="slide"
                     data-responsive_offset="on"
                     style="z-index: 6; white-space: nowrap;"><span class="text-white">SHOW YOU </span><span class="text-thm">CARE</span>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption BigBold-SubTitle tp-resizeme rs-parallaxlevel-0"
                     id="rs-1-layer-2"

                     data-x="['left','left','left','left']"
                     data-hoffset="['370','55','33','20']"
                     data-y="['bottom','bottom','bottom','bottom']"
                     data-voffset="['260','1','74','58']"
                     data-fontsize="['15','15','15','13']"
                     data-lineheight="['24','24','24','20']"
                     data-width="['570','570','410','280']"
                     data-height="['60','100','100','100']"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-start="650"
                     data-splitin="none"
                     data-splitout="none"
                     data-basealign="slide"
                     data-responsive_offset="on"
                     style="z-index: 7; min-width: 570px; max-width: 570px; max-width: 60px; max-width: 60px; white-space: normal;"><span class="text-white">A Premium Revolution Slider Template Lorem ipsum dolor sit amet, consectetur adipisicing. </span>
                </div>

            </li>

            <!-- SLIDE 2 -->
            <li data-index="rs-2" data-transition="fade" data-slotamount="7"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="images/bg/home_hero_2.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"  data-title="Intro" data-description="">
                <!-- MAIN IMAGE -->
                <img src="images/bg/home_hero_2.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                <!-- LAYER NR. 1 -->
                <div class="tp-caption tp-resizeme rs-parallaxlevel-0 text-uppercase"
                     id="rs-2-layer-1"

                     data-x="['left','left','left','left']"
                     data-hoffset="['370','200','30','17']"
                     data-y="['center','center','center','center']"
                     data-voffset="['10','110','180','160']"
                     data-fontsize="['78']"
                     data-lineheight="['60']"
                     data-width="['none','none','none','400']"
                     data-height="none"
                     data-whitespace="['nowrap','nowrap','nowrap','normal']"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-mask_in="x:0px;y:[100%];"
                     data-mask_out="x:inherit;y:inherit;"
                     data-start="500"
                     data-splitin="none"
                     data-splitout="none"
                     data-basealign="slide"
                     data-responsive_offset="on"
                     style="z-index: 6; white-space: nowrap;"><span class="text-white">HELP THOSE IN</span><span class="text-thm"> NEED</span>
                </div>

                <!-- LAYER NR. 2 -->
                <div class="tp-caption BigBold-SubTitle tp-resizeme text-white rs-parallaxlevel-0"
                     id="rs-2-layer-2"

                     data-x="['left','left','left','left']"
                     data-hoffset="['370','55','33','20']"
                     data-y="['bottom','bottom','bottom','bottom']"
                     data-voffset="['260','1','74','58']"
                     data-fontsize="['15','15','15','13']"
                     data-lineheight="['24','24','24','20']"
                     data-width="['570','570','410','280']"
                     data-height="['60','100','100','100']"
                     data-whitespace="normal"
                     data-transform_idle="o:1;"
                     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
                     data-transform_out="y:50px;opacity:0;s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                     data-start="650"
                     data-splitin="none"
                     data-splitout="none"
                     data-basealign="slide"
                     data-responsive_offset="on"
                     style="z-index: 7; min-width: 570px; max-width: 570px; max-width: 60px; max-width: 60px; white-space: normal;">A Premium Revolution Slider Template Lorem dolor sit amet, consectetur adipisicing.
                </div>

            </li>

        </ul>
    </div>
</section>

<!--Featured Three Column-->
<section class="featured-three-column mt-sm-70">
    <div class="container">
        <div class="row clearfix">
            <!--Column-->
            <div class="col-xs-12 col-sm-6 col-md-4 column wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
                <article class="inner-box dark-overlay bg-img-cover" style="background-image: url(images/features/1.jpg);">
                    <div class="content">
                        <h3>Help</h3>
                        <div class="text">
                            <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus. Cras euismod nunc tellus, eget tempor purus.</p>
                        </div>
                        <div class="link"><a href="#donation-form" class="thm-btn inverse"><i class="fa fa-caret-right text-text-thmed"></i> Donate Now</a></div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <div class="col-xs-12 col-sm-6 col-md-4 column wow fadeInUp" data-wow-delay="700ms" data-wow-duration="1500ms">
                <article class="inner-box bg-img-cover" style="background-image: url(images/features/2.jpg);">
                    <div class="content">
                        <h3>Donate</h3>
                        <div class="text">
                            <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus. Cras euismod nunc tellus, eget tempor purus.</p>
                        </div>
                        <div class="link"><a href="#" class="read-more thm-btn normal-btn"><span class="fa fa-caret-right"></span> Join Now</a></div>
                    </div>
                </article>
            </div>
            <!--Column-->
            <div class="col-xs-12 col-sm-6 col-md-4 column wow fadeInRight" data-wow-delay="200ms" data-wow-duration="1500ms">
                <article class="inner-box dark-overlay bg-img-cover" style="background-image: url(images/features/3.jpg);">
                    <div class="content">
                        <h3>Volunteer</h3>
                        <div class="text">
                            <p>Proin nec lacus lacus. Sed vitae consectetur est, et mattis felis. Fusce lacinia nibh vitae fermentum finibus. Donec malesuada efficitur dapibus. Cras euismod nunc tellus, eget tempor purus.</p>
                        </div>
                        <div class="link"><a href="#" class="thm-btn inverse"><i class="fa fa-caret-right text-text-thmed"></i> Read More</a></div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</section>

<!--Start Our Event Area-->
<section class="event-feature sec-padding" style="background: rgb(247, 247, 247) !important;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="sec-color double-line-bottom font-weight-700 pb-25">Urgent Appeals</h2>
                <div class="urgent-cause">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 pb-sm-30">
                            <div class="thumb">
                                <img class="full-width" src="images/causes/b1.jpg" alt="">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 pb-sm-30 p-md-0 p-xs-20">
                            <div class="causes-details">
                                <h3>Charity For Education</h3>
                                <p class="p-title font-16">Donate $45 now to feed a Syrian Children.</p>
                                <div class="inner-box">
                                    <ul class="cause-list pl-0 pb-10">
                                        <li class="clearfix border-bottom"><span class="pull-left">Dontators -</span> <strong class="pull-right">78</strong></li>
                                        <li class="clearfix border-bottom"><span class="pull-left">Goal -</span> <strong class="pull-right">$45,800</strong></li>
                                        <li class="clearfix border-bottom"><span class="pull-left">Raised -</span> <strong class="pull-right">$39,300</strong></li>
                                    </ul>
                                    <div class="progress-item">
                                        <div class="progress" data-value="85">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                                <div class="value-holder"><span class="value"></span>%</div>
                                            </div>
                                        </div>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam, impedit, tenetur!</p>
                                    <a class="thm-btn btn-xs" href="#donation-form"><i class="fa fa-angle-double-right text-white"></i> Donate Now</a>
                                    <a href="#" class="thm-btn inverse btn-xs ml-5"><i class="fa fa-heart text-text-thmed"></i> Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6">
                <h2 class="sec-color double-line-bottom font-weight-700 pb-25">Upcoming Appeals</h2>
                <div class="bx-event-carousel">
                    <div class="event">
                        <div class="row pb-xs-15">
                            <div class="col-sm-4">
                                <div class="event-thumb">
                                    <div class="thumb">
                                        <img class="full-width" src="images/event/1.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="event-content">
                                    <h4 class="event-title"><a href="#">Found For Education</a></h4>
                                    <ul class="event-held pl-0 list-inline">
                                        <li class="mr-0 pb-5" data-text-color="#777"><i class="fa fa-clock-o"></i> 6.00 pm - 8.30 pm</li>
                                        <li data-text-color="#777"> <i class="fa fa-map-marker"></i> 69 Newyork City.</li>
                                    </ul>
                                    <div class="event-date pl-0">
                                        <p class="date">28 Aug</p>
                                    </div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi expedita perspiciatis soluta quidem, recusandae sapiente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="row pb-xs-15">
                            <div class="col-sm-4">
                                <div class="event-thumb">
                                    <div class="thumb">
                                        <img class="full-width" src="images/event/2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="event-content">
                                    <h4 class="event-title"><a href="#">Charity For Food</a></h4>
                                    <ul class="event-held pl-0 list-inline">
                                        <li class="mr-0 pb-5" data-text-color="#777"><i class="fa fa-clock-o"></i> 6.00 pm - 8.30 pm</li>
                                        <li data-text-color="#777"> <i class="fa fa-map-marker"></i> 69 Newyork City.</li>
                                    </ul>
                                    <div class="event-date pl-0">
                                        <p class="date">28 Aug</p>
                                    </div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi expedita perspiciatis soluta quidem, recusandae sapiente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="row pb-xs-15">
                            <div class="col-sm-4">
                                <div class="event-thumb">
                                    <div class="thumb">
                                        <img class="full-width" src="images/event/3.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="event-content">
                                    <h4 class="event-title"><a href="#">Charity For Health</a></h4>
                                    <ul class="event-held pl-0 list-inline">
                                        <li class="mr-0 pb-5" data-text-color="#777"><i class="fa fa-clock-o"></i> 6.00 pm - 8.30 pm</li>
                                        <li data-text-color="#777"> <i class="fa fa-map-marker"></i> 69 Newyork City.</li>
                                    </ul>
                                    <div class="event-date pl-0">
                                        <p class="date">28 Aug</p>
                                    </div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi expedita perspiciatis soluta quidem, recusandae sapiente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="row pb-xs-15">
                            <div class="col-sm-4">
                                <div class="event-thumb">
                                    <div class="thumb">
                                        <img class="full-width" src="images/event/4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="event-content">
                                    <h4 class="event-title"><a href="#">Homem For Homeless</a></h4>
                                    <ul class="event-held pl-0 list-inline">
                                        <li class="mr-0 pb-5" data-text-color="#777"><i class="fa fa-clock-o"></i> 6.00 pm - 8.30 pm</li>
                                        <li data-text-color="#777"> <i class="fa fa-map-marker"></i> 69 Newyork City.</li>
                                    </ul>
                                    <div class="event-date pl-0">
                                        <p class="date">28 Aug</p>
                                    </div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi expedita perspiciatis soluta quidem, recusandae sapiente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="event">
                        <div class="row pb-xs-15">
                            <div class="col-sm-4">
                                <div class="event-thumb">
                                    <div class="thumb">
                                        <img class="full-width" src="images/event/5.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="event-content">
                                    <h4 class="event-title"><a href="#">Charity For Education</a></h4>
                                    <ul class="event-held pl-0 list-inline">
                                        <li class="mr-0 pb-5" data-text-color="#777"><i class="fa fa-clock-o"></i> 6.00 pm - 8.30 pm</li>
                                        <li data-text-color="#777"> <i class="fa fa-map-marker"></i> 69 Newyork City.</li>
                                    </ul>
                                    <div class="event-date pl-0">
                                        <p class="date">28 Aug</p>
                                    </div>
                                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi expedita perspiciatis soluta quidem, recusandae sapiente.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Start Our Mission Area-->
<section class="home-serivce sec-padding pb-0">
    <div class="container">
        <div class="sec-title text-center">
            <span class="double-line"></span> &ensp;
            <h2>Our Mission</h2> &ensp; <span class="double-line"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum.</p>
        </div>
        <div class="sec-content">
            <div class="row">
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-gesture-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Charity For Education</h3>
                            <p>There are many variations of lorem
                                <br>passagei of Lorem Ipsum available </p>
                            <a href="service-details.html">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-people-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Feed for hungry child</h3>
                            <p>There are many variations of lorem
                                <br>passagei of Lorem Ipsum available </p>
                            <a href="service-details.html">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-hand"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Home for homeless</h3>
                            <p>There are many variations of lorem
                                <br>passagei of Lorem Ipsum available </p>
                            <a href="service-details.html">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-people-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Feed for hungry child</h3>
                            <p>There are many variations of lorem
                                <br>passagei of Lorem Ipsum available </p>
                            <a href="service-details.html">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="footer-bottom">
    <div class="container text-center">
        <p>Belfast Cares is currently under development. Please feel free to contact@belfastcares.co.uk.</p>
    </div>
</section>

<!--Scroll to top-->
<div class="scroll-to-top"><span class="fa fa-arrow-up"></span></div>

<!-- main jQuery -->
<script src="js/jquery-1.11.1.min.js"></script>
<!-- bootstrap -->
<script src="js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="js/jquery.bxslider.min.js"></script>
<!-- owl carousel -->
<script src="js/owl.carousel.min.js"></script>
<!-- validate -->
<script src="js/jquery-parallax.js"></script>
<!-- validate -->
<script src="js/validate.js"></script>
<!-- mixit up -->
<script src="js/jquery.mixitup.min.js"></script>
<!-- fancybox -->
<script src="js/jquery.fancybox.pack.js"></script>
<!-- easing -->
<script src="js/jquery.easing.min.js"></script>
<!-- circle progress -->
<script src="js/circle-progress.js"></script>
<!-- appear js -->
<script src="js/jquery.appear.js"></script>
<!-- count to -->
<script src="js/jquery.countTo.js"></script>
<!-- gmap helper -->
<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
<!-- gmap main script -->
<script src="js/gmap.js"></script>
<!-- isotope script -->
<script src="js/isotope.pkgd.min.js"></script>
<!-- jQuery ui js -->
<script src="js/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- revolution scripts -->
<script src="revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="revolution/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>
<!-- thm custom script -->
<script src="js/custom.js"></script>