
<!--Start Our Mission Area-->
<section class="home-serivce sec-padding pb-0">
    <div class="container">
        <div class="sec-title text-center">
            <span class="double-line"></span> &ensp;
            <h2>Our Mission</h2> &ensp; <span class="double-line"></span>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum.</p>
        </div>
        <div class="sec-content">
            <div class="row">
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-gesture-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Charity For Education</h3>
                            <p>There are many variations of lorem
                                <br>passagei of Lorem Ipsum available </p>
                            <a href="service-details.html">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-people-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Feed for hungry child</h3>
                            <p>There are many variations of lorem
                                <br>passagei of Lorem Ipsum available </p>
                            <a href="service-details.html">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-hand"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Home for homeless</h3>
                            <p>There are many variations of lorem
                                <br>passagei of Lorem Ipsum available </p>
                            <a href="service-details.html">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-sm-6 col-md-4">
                    <div class="single-service-home">
                        <div class="icon-box">
                            <div class="inner-box">
                                <i class="flaticon-people-1"></i>
                            </div>
                        </div>
                        <div class="content">
                            <h3>Feed for hungry child</h3>
                            <p>There are many variations of lorem
                                <br>passagei of Lorem Ipsum available </p>
                            <a href="service-details.html">Read More <i class="fa fa-caret-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

