<section class="contact-content sec-padding">
    <div class="container">
        <div class="sec-content">
            <div class="row">
                <div class="col-md-12" style="margin:auto;">



                    <form class="contact-form row" >

                        <div class="col-sm-4 col-sm-offset-4">
                            <h2>Login</h2>
                        </div>

                        <div class="col-sm-4 col-sm-offset-4">
                            <label for="id_username">Username:</label>
                            <input id="id_username" maxlength="254" name="username" type="text" autocomplete="off" >
                        </div>
                        <div class="col-sm-4 col-sm-offset-4">
                            <label for="id_password">Password:</label>
                            <input id="id_password" name="password" type="password" autocomplete="off">
                        </div>

                        <div class="col-sm-4 col-sm-offset-4">
                            <button class="thm-btn" type="submit" value="login">Login</button>
                            <button class="thm-btn" type="submit">Register</button>
                            <input type="hidden" name="next" value="">
                        </div>

                        <!--<div class="col-sm-4 col-sm-offset-4 login-form-error">-->
                            <!--<p>Your username and password didn't match. Please try again.</p>-->
                        <!--</div>-->

                    </form>


                </div>

            </div>
        </div>
    </div>
</section>